body {
    overflow: scroll;
}
#panel-lewy {
    width: 40%;
    background-color: darkgray;
    height: 100%;
    display: none;
    float: left;
}
#panel-prawy {
    width: 40%;
    background-color: rgb(11, 26, 139);
    height: 100%;
    position: fixed;
    left: 40%;
}